.Sidebar {
    height: 100%;
    background-color: #e1604d;
    transition: transform 0.3s ease-in-out;
}

.Sidebar.hidden {
    transform: translateX(-100%);
}

.SidebarText {
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: whitesmoke;
    padding-top: 5%;
    transition: ease background-color 250ms;
    &:hover {
        background-color: #e1604d;
        filter: brightness(80%);
    };
    cursor: pointer;
    p {
        text-decoration: none;
        color: whitesmoke;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.hover-area {
    position: fixed;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 50px; 
    background-color: transparent; 
    transition: background-color 0.3s, left 0.3s;
    cursor: pointer;
}

.hover-area:hover {
    left: 0px;
    background-color: #e1604d; 
}

.reveal-sidebar {
    transform: translateX(-80%); 
    cursor: pointer;
    transition: transform 0.3s;
}